.filter-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.filter-buttons__apply {
  width: 160px;
  min-height: 45px;
  font-size: 13px;
  line-height: 24px;
  background: #7859cf;
  border: none;
  color: #ffffff;
  border-radius: 4px;
  margin-bottom: 24px;

  @media (min-width: 768px) {
    margin-bottom: 0;
    margin-left: 180px;
    margin-right: 29px;
    width: 148px;
    min-height: 40px;
    font-size: 14px;
    padding: 0;
  }

  @media (min-width: 1440px) {
    margin-left: 0;
    width: 150px;
    margin-right: 20px;
    font-size: 14px;
  }
}

.filter-buttons__reset {
  width: 160px;
  min-height: 45px;
  font-size: 14px;
  line-height: 24px;
  background: #ffffff;
  border: none;
  color: #7859cf;
  border-radius: 4px;


  @media (min-width: 768px) {
    width: 138px;
    min-height: 40px;
    font-size: 14px;
    padding: 0;
  }

  @media (min-width: 1440px) {

  }
}
