.filter__price {
  margin: 0 0 25px;

  @media (min-width: 768px) {
    margin-right: 21px;
    margin-left: 7px;
    margin-bottom: 0;
  }

  @media (min-width: 1440px) {
    margin-left: 0;
  }
}

.filter__filter-buttons {
  margin-bottom: 36px;
}

.filter__wrapper {
  @media (min-width: 768px) {
    display: flex;
    margin-bottom: 39px;
    flex-wrap: wrap;
  }

  @media (min-width: 1440px) {
    margin-bottom: 39px;
  }
}

.filter__milk {
  margin: 0;
  max-width: 280px;

  @media (min-width: 768px) {
    margin-right: 36px;
    margin-bottom: 0;
    max-width: 210px;
  }

  @media (min-width: 1440px) {
    max-width: 300px;
  }
}

.filter__country {
  max-width: 280px;

  @media (min-width: 768px) {
    max-width: 210px;
  }

  @media (min-width: 1440px) {
    max-width: 318px;
  }
}
