.pagination__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: 768px) {
    justify-content: end;
  }
}

.pagination__svg {
  padding: 15px;
  background: #ffffff;
  border-radius: 4px;

  &&--right {
    transform: rotate(180deg);
  }

  @media (min-width: 768px) {
    display: none;
  }
}

.pagination__item {
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 24px;

  @media (min-width: 768px) {
    max-width: 100px;
  }

  @media (min-width: 1440px) {
    max-width: 150px;
  }

  &--current .pagination__number {
    color: #333333;
    font-weight: 600;
    background: rgba(255, 255, 255, 0);
  }

  &--previous {
    @media (min-width: 768px) {
      min-width: 90px;
    }
  }

  &--next {
    @media (min-width: 768px) {
      min-width: 104px;
    }
  }

  & :hover,
  & :focus {
    background: #9070ec;
    color: #ffffff;
  }

  & :active {
    background: #593cac;
    color: #ffffff;
  }

  & :disabled {
    background: #e2e2e2;
    color: #ffffff;
  }
}

.pagination__number {
  padding: 8px;
  margin: 0;
  min-width: 40px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #ffffff;
  border-radius: 4px;
  color: #7859cf;
}

.pagination__button-svg {
  border: none;
  padding: 0;
  border-radius: 4px;
  display: flex;

  @media (min-width: 768px) {
    display: none;
  }
}

.pagination__previous,
.pagination__next {
  display: none;

  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    color: #7859cf;
    max-width: 300px;
    background-color: #ffffff;
    border-radius: 4px;
    border: none;
    padding: 8px 20px;
  }
}
