.sort {
  min-width: 280px;
  display: flex;
  flex-direction: row;
  padding-left: 3px;
  flex-wrap: wrap;
  gap: 4px;

  @media (min-width: 768px) {
    justify-content: end;
  }
}

.sort__description {
  margin: 4px 5px auto 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  word-break: break-word;

  @media (min-width: 1440px) {
    padding-top: 0;
    margin: 1px 5px auto 0;
  }
}

.sort__select {
  padding: 4px 25px 4px 8px;
  max-width: 165px;
  min-height: 24px;
  max-height: 32px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  font-family: "Montserrat", "Arial", sans-serif;
  color: #7859cf;
  border: none;
  appearance: none;
  background: url("/img/arrow-down.png") no-repeat;
  background-position: 94% 50%;
  word-break: break-word;

  @media (min-width: 1440px) {
    padding: 2px 25px 2px 8px;
    margin-bottom: 4px;
  }
}

.sort__select:hover {
  background: url("/img/arrow-down.png") no-repeat, #f0ebff;
  background-position: 94% 50%;
}

.sort__select:focus {
  background: url("/img/arrow-down.png") no-repeat, #f0ebff;
  background-position: 94% 50%;
  outline: none;
}

.sort__select:active {
  background: url("/img/arrow-up.png") no-repeat;
  background-position: 94% 50%;
  outline: none;
}
